@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montez&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ribeye+Marrow&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yellowtail&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.business-card,
.interactive-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.business-card__title,
.interactive-button__title {
  margin-bottom: 50px;
}

.business-card__container {
  position: relative;
  background-image: url("../photo/754610743404514.jpeg");
  border-radius: 20px;
  width: 550px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 50px;
}

.business-card__logo {
  position: absolute;
  width: 100px;
  transform: rotate(-20deg);
  top: 5px;
  left: -5px;
}

.business-card__paragraph {
  position: absolute;
  font-size: 30px;
  color: white;
  bottom: 10px;
  right: 10px;
  font-family: "Ribeye Marrow", serif;
  font-weight: 400;
  font-style: normal;
}

.interactive-button__emoji {
  width: 165px;
  height: 150px;
  border-radius: 20px;
  cursor: pointer;
  background-image: url("../photo/emoji.jpg");
  background-size: 350px;
  background-repeat: no-repeat;
  background-position-x: -3px;
  transition: background-position-x 1s ease-in-out;
}

.interactive-button__emoji:hover {
  background-position-x: -178px;
}
